@model Gestion_Des_prèneces.Models.Absence

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Absence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateDebutAb" class="control-label"></label>
                <input asp-for="DateDebutAb" class="form-control" />
                <span asp-validation-for="DateDebutAb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFinAb" class="control-label"></label>
                <input asp-for="DateFinAb" class="form-control" />
                <span asp-validation-for="DateFinAb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbHAb" class="control-label"></label>
                <input asp-for="NbHAb" class="form-control" />
                <span asp-validation-for="NbHAb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumCl" class="control-label"></label>
                <select asp-for="NumCl" class ="form-control" asp-items="ViewBag.NumCl"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
