@model Gestion_Des_prèneces.Models.Absence

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Absence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAbsenceInternal" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="IdAbsence" />
            <input type="hidden" asp-for="NumCl" />

            <label asp-for="DateDebutAb"></label>
            <input asp-for="DateDebutAb" class="form-control" />

            <label asp-for="DateFinAb"></label>
            <input asp-for="DateFinAb" class="form-control" />

            <label asp-for="NbHAb"></label>
            <input asp-for="NbHAb" class="form-control" />

            <label>Collaborateur</label>
            <p class="form-control-plaintext">@ViewBag.CollaborateurFullName</p>

            <input type="submit" value="Enregistrer" class="btn btn-primary" />
        </form>
    </div>
</div>
<div class="mt-4">
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
