@model Gestion_Des_prèneces.Models.Congé

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div style="margin-bottom:50px;"></div>
<h4>Congé</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCongéInternal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCongé" />
            <div class="form-group">
                <label asp-for="DateDebutCongé" class="control-label"></label>
                <input asp-for="DateDebutCongé" class="form-control" />
                <span asp-validation-for="DateDebutCongé" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFinCongé" class="control-label"></label>
                <input asp-for="DateFinCongé" class="form-control" />
                <span asp-validation-for="DateFinCongé" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Types" class="control-label"></label>
                <input asp-for="Types" class="form-control" />
                <span asp-validation-for="Types" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Collaborateur </label>
                <p class="form-control-plaintext">@ViewBag.CollaborateurFullName</p>
                <input type="hidden" asp-for="NumCl" />
            </div>

            <div class="form-group">
                <label asp-for="Accord" class="control-label"></label>
                <select  asp-for="Accord" >
                    <option>Accepter</option>
                    <option>Refuser</option>
                </select>
                
                <span asp-validation-for="Accord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
